.teaser-list {
    --teaser-list-height: 189px;
    --teaser-list-aspect-ratio: 16 / 9;
    --teaser-list-gap: var(--space-xl);
    --teaser-gap: var(--space-m);
    --teaser-list-text-gap: var(--space-m);
    --teaser-list-4-columns-gap: 30px;
    --teaser-list-number-of-columns: 1;

    /* The number of grid item rows that should always be present in the DOM for aligned subgrids */
    --teaser-list-item-number-of-subgrid-rows: 4;

    padding: var(--space-sm) 0;

    .teaser-list-inner {
        display: grid;
        grid-template-columns: repeat(var(--teaser-list-number-of-columns), 1fr);
        gap: var(--teaser-list-gap);
        padding: 0;
        margin: 0;
        list-style: none;

        .teaser {
            display: grid;
            grid-template-rows: subgrid;
            grid-row: span var(--teaser-list-item-number-of-subgrid-rows);
            gap: var(--teaser-gap);
        }
    }

    .teaser-image {
        position: relative;
        width: 100%;
        height: var(--teaser-list-height);
    }

    .teaser-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .teaser-headline {
        margin: 0;
    }

    .teaser-description {
        margin: calc(var(--space-xss) * -1) 0 0;
    }

    .teaser-button-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: var(--teaser-list-gap);

        a.button {
            color: var(--clr-primary);
            margin: 0;
        }
    }
}

@media (width > 480px) {
    .teaser-list {
        --teaser-list-height: 228px;
        --teaser-gap: var(--space-l);

        .teaser-description {
            margin: calc(var(--space-m) * -1) 0 0;
        }
    }
}

@media (width >= 1024px) {
    .teaser-list {
        &.teaser-list-columns-1 {
            --teaser-list-number-of-columns: 1;
        }

        &.teaser-list-columns-2 {
            --teaser-list-number-of-columns: 2;
        }

        &.teaser-list-columns-3 {
            --teaser-list-number-of-columns: 3;
        }

        &.teaser-list-columns-4 {
            --teaser-list-number-of-columns: 4;
        }
    }
}
